In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from pymongo import MongoClient
import json
import regex as re
import streamlit as st
import emoji

### Populate mongo database

In [2]:
conn = MongoClient("localhost:27017")
db = conn.get_database("proyecto_gastos")
movements = db.get_collection("movimientos")

In [46]:
movements.remove({})

<ipython-input-46-29e517da2272>:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  movements.remove({})

{'n': 50, 'ok': 1.0}

In [3]:
def insert_object(collection, day, movement, quant, orig, biz):
    '''
    This function inserts all the information from a single object in our database
    '''

    collection.insert({"date":day, "kind":movement, "origin": orig, "quantity":quant, "bizum":biz})

    return "Data succesfully added"

In [48]:
def insert_many(df, collection):
    '''
    This function inserts all the information from the dataframe we created with the previous function as a Mongodb object.
    '''

    collection.insert_many(df.to_dict('records'))

    return "Data succesfully added"

In [36]:
data = pd.read_csv("..\\data\\data.csv", sep=";")

In [46]:
data.dtypes

date        object
kind        object
origin      object
quantity    object
dtype: object

In [40]:
data.quantity = data.quantity.replace(to_replace=',',value='.', regex=True)

In [41]:
data.quantity = data.quantity.astype("float")

In [42]:
data.kind = data.kind.replace(to_replace=' ', value='', regex=True)

In [44]:
data["origin "] = data["origin "].replace(to_replace=' ', value='', regex=True)

In [49]:
insert_many(data, movements)

'Data succesfully added'

### Lets create a function that will return the dataframe we will use as base

In [54]:
r = list(movements.find({},{"_id":0,"date":1,"kind":1,"origin ":1, "quantity":1, "bizum":1, "description":1}))

In [55]:
result = pd.DataFrame(r)

In [5]:
expenses = result[result.kind == "cash-out"]

### Creating expenses table with emojis

In [57]:
result.head()

         date      kind           origin   quantity bizum  description
0  2021-03-01   cash-in           General    699.27    No          NaN
1  2021-03-02  cash-out           General   -271.44    No          NaN
2  2021-03-02   cash-in           General     85.00    No          NaN
3  2021-03-03  cash-out  Nightlife/Drinks     -7.50   Yes          NaN
4  2021-03-06   cash-in  Nightlife/Drinks      4.95   Yes          NaN

In [61]:
expenses = result.groupby("origin ").agg({"quantity":"sum"})

In [67]:
new_index = []

KeyError: 'origin'